

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('../partials/superSidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('../partials/topbar') %>
                <!-- End of Topbar -->
                <%- include ('../partials/messages') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class=" mb-4">
                        <% if(canceledResults.length <= 0){ %>
                            <div class="card-body">
                                <h1>No Record Found !</h1>  
                            </div> 
                            <% } else{ %> 

                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                  <th>Cart Value</th>
                                                  <th>email</th>
                                                  <th>phone</th>
                                                  <th>Sale id</th>
                                                  <th>State</th>
                                                  <th>Lga</th>
                                                  <th>Action</th>
                                                </tr>
                                            </thead>
                                        
                                            <tbody>
                                          
                                                <% canceledResults.forEach(function(data) {%>
                                                    <tr>
                                                        <td>₦<%=  data['total_amount'] %> </td>
                                                        <td><%= data['customer_email'] %> </td>
                                                        <td><%= data['customer_phone'] %> </td>
                                                        <td><%= data['sale_id'] %> </td>
                                                        <td><%= data['customer_state'] %> </td>
                                                        <td><%= data['customer_lga'] %> </td>
                                                        <td><a href="/super/view-canceled/<%= data['id']%>" class="btn btn-outline-primary">view</a></td>
        
                                                  
                                                   </tr> 
                                                   
                                                       <% }) %>
                                                </tbody>
                                        </table>
                                    </div>

                                <% } %>
                                
                                
                      
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
